$purple:#624DE3;
$dark: #100A30;
$white: #fff;
$text: #4C4764;

@mixin breakpoint($point) {
    @if $point == lg {
        @media(max-width: 992px) {@content;}
    }
    @else if $point == md {
        @media(max-width: 768px) {@content;}
    }
    @else if $point == sm {
        @media(max-width: 576px) {@content;}
    }
    @else if $point == xs {
        @media(max-width: 380px) {@content;}
    }
}